10201 DIALOG 0, 0, 187, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Connecting"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "", 10501, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 8, 141, 17 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 34, 50, 14 
   CONTROL 10101, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 8, 21, 20 
}

10202 DIALOG 0, 0, 175, 96
STYLE DS_SETFOREGROUND | WS_POPUP | WS_BORDER
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL 10102, 10504, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 38, 64, 64 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 77, 40, 12 
   CONTROL "Reconnecting", 10506, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 0, 104, 20 
   CONTROL 10151, 10505, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 133, 0, 32, 26 
   CONTROL "The connection has been lost.\nAttempting to reconnect your session...", 10503, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 37, 37, 136, 20 
}

10203 DIALOG 0, 0, 264, 133
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remote Desktop Connection Security Warning"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL 10103, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 7, 7, 21, 20 
   CONTROL "The following local devices will be made available to the remote computer. This may be potentially unsafe.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 9, 223, 23 
   CONTROL "test1\ntest2", 10507, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 35, 206, 21 
   CONTROL "You should proceed only if you trust the computer you are connecting to.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 37, 63, 217, 23 
   CONTROL "&Don't prompt me again for connections to this remote computer.", 10525, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 38, 85, 222, 23 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 115, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 115, 50, 14 
}

20201 DIALOG 0, 0, 200, 61
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Remote Desktop Connection"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "&Computer:", 20600, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 15, 44, 8 
   CONTROL "", 20601, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 55, 12, 116, 42 
   CONTROL "Co&nnect", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 39, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 39, 50, 14 
   CONTROL "&Options >>", 20602, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 39, 50, 14 
   CONTROL "Tab1", 20603, "SysTabControl32", TCS_TABS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 0, 198, 198 
}

20202 DIALOG 0, 0, 253, 178
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "Type the name of the computer, or choose a computer from the drop-down list.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 12, 190, 19 
   CONTROL "&Computer:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 36, 36, 8 
   CONTROL "", 20604, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 90, 34, 132, 55 
   CONTROL "&User name:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 58, 38, 8 
   CONTROL "", 20605, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 56, 132, 14 
   CONTROL "&Password:", 20633, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 77, 38, 8 
   CONTROL "", 20606, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 75, 132, 14 
   CONTROL "&Domain:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 96, 40, 8 
   CONTROL "", 20607, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 94, 132, 14 
   CONTROL "S&ave my password", 20608, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 111, 154, 13 
   CONTROL "Save current settings, or open saved connection.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 142, 196, 10 
   CONTROL "Sa&ve As...", 20609, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 156, 65, 14 
   CONTROL "Op&en...", 20610, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 157, 156, 65, 14 
   CONTROL 20101, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 12, 20, 20 
   CONTROL 20102, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 13, 140, 20, 20 
   CONTROL "Logon settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 0, 250, 128 
   CONTROL "Connection settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 131, 250, 44 
}

20203 DIALOG 0, 0, 253, 178
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL 20107, 20645, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 19, 20, 20 
   CONTROL "Choose the size of your remote desktop. Drag the slider all the way to the right to go fullscreen.", 20639, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 41, 17, 203, 18 
   CONTROL "Slider1", 20638, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 39, 99, 18 
   CONTROL "Less", 20640, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 53, 39, 15, 8 
   CONTROL "More", 20641, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 183, 39, 17, 8 
   CONTROL "Fullscreen", 20637, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 95, 61, 74, 8 
   CONTROL "Remote Desktop Size", 20643, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 3, 250, 70 
   CONTROL "", 20612, COMBOBOX, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 21, 93, 113, 59 
   CONTROL 0, 20613, STATIC, SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 22, 110, 111, 7 
   CONTROL "Note: Settings on the remote computer might override this setting.", 20642, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 22, 128, 215, 12 
   CONTROL "Colors", 20644, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 79, 250, 79 
   CONTROL "&Display the connection bar when in full screen mode", 20614, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 3, 167, 208, 12 
}

20204 DIALOG 0, 0, 253, 178
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL 20103, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 15, 20, 20 
   CONTROL "", 20611, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 18, 164, 44 
   CONTROL 20104, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 52, 20, 20 
   CONTROL "Apply Windows key combinations\n(for example ALT+TAB)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 47, 52, 172, 18 
   CONTROL "", 20615, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 73, 164, 44 
   CONTROL 20105, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 103, 20, 20 
   CONTROL "Connect automatically to these local devices when logged on to the remote computer:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 47, 105, 200, 17 
   CONTROL "Disk &drives", 20616, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 122, 96, 12 
   CONTROL "Prin&ters", 20617, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 134, 83, 12 
   CONTROL "Serial po&rts", 20618, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 146, 83, 12 
   CONTROL "S&mart cards", 20619, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 47, 158, 83, 12 
   CONTROL "Printers...", 20620, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 134, 46, 14 
   CONTROL "[Clipboard sharing is disabled]", 20636, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 47, 170, 123, 10 
   CONTROL "Remote computer sound", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 5, 248, 37 
   CONTROL "Keyboard", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 42, 248, 50 
   CONTROL "Local devices", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 93, 248, 89 
}

20205 DIALOG 0, 0, 253, 178
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL "&Start the following program on connection", 20621, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 14, 191, 12 
   CONTROL "&Program path and file name:", 20634, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 29, 28, 204, 9 
   CONTROL "", 20622, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 40, 208, 14 
   CONTROL "S&tart in the following folder:", 20635, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 29, 57, 204, 9 
   CONTROL "", 20623, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 69, 208, 14 
   CONTROL "Start a program", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 4, 248, 86 
}

20206 DIALOG 0, 0, 253, 178
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
   CONTROL 20106, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 15, 20, 20 
   CONTROL "Choose your connection speed to optimize &performance.", 20624, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 19, 201, 11 
   CONTROL "", 20625, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 43, 35, 158, 200 
   CONTROL "Allow the following:", 20626, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 43, 55, 201, 10 
   CONTROL "Desktop &background", 20627, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 69, 181, 12 
   CONTROL "&Show contents of window while dragging", 20628, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 82, 185, 12 
   CONTROL "&Menu and window animation", 20629, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 95, 175, 12 
   CONTROL "&Themes", 20630, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 108, 169, 12 
   CONTROL "Bitm&ap caching", 20631, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 121, 169, 12 
   CONTROL "Performance", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 4, 248, 151 
   CONTROL "R&econnect if connection is dropped", 20632, BUTTON, BS_AUTOCHECKBOX | BS_VCENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 160, 167, 12 
}

